### Transformació Registre Log amb Regular expressions

###### Exercici 1, 2

Estandaritza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources".\
Neteja, preprocesa, estructura i transforma (dataframe) les dades del registre d'Accés a la web.

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
kumenius_log = pd.read_csv('Web_access_log-akumenius.com.txt', names = ["Single_Data_Column"])
kumenius_log

                                       Single_Data_Column
0       localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 ...
1       localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 ...
2       localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 ...
3       localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 ...
4       localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 ...
...                                                   ...
261868  www.akumenius.com 5.255.253.53 - - [02/Mar/201...
261869  www.akumenius.com 74.86.158.107 - - [02/Mar/20...
261870  localhost 127.0.0.1 - - [02/Mar/2014:03:10:18 ...
261871  localhost 127.0.0.1 - - [02/Mar/2014:03:10:18 ...
261872  localhost 127.0.0.1 - - [02/Mar/2014:03:10:18 ...

[261873 rows x 1 columns]

In [3]:
type(kumenius_log)

pandas.core.frame.DataFrame

In [4]:
kumenius_log.shape

(261873, 1)

In [5]:
kumenius_log.ndim

2

In [6]:
kumenius_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261873 entries, 0 to 261872
Data columns (total 1 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Single_Data_Column  261873 non-null  object
dtypes: object(1)
memory usage: 2.0+ MB

In [7]:
kumenius_log.columns

Index(['Single_Data_Column'], dtype='object')

In [8]:
# A 'Single_Data_Column'!, with RegEx we'll find the pattern to split it

In [9]:
kumenius_log.iloc[10, 0]

'localhost 127.0.0.1 - - [23/Feb/2014:03:10:31 +0100] "OPTIONS * HTTP/1.0" 200 - "-" "Apache (internal dummy connection)" VLOG=-'

In [10]:
pattern = r'(\S+)\s([0-9.]+|-)\s(.+)\s(.+)\s\[(.+)\]\s\"(.+)\"\s(\d+|-)\s(\d+|-)\s\"(.+)\"\s\"(.+)\"\sVLOG=(.+)'

kumenius_log = pd.read_csv('Web_access_log-akumenius.com.txt',
              delimiter=pattern,
              engine='python',
              header=None,
              index_col=False,
              na_values="-",
              usecols = [*range(1, 12)],
              names=['ServerName', 'IP', 'Identity', 'UserID','DateTime',
                     'Request','Status','Size', 'Referer', 'UserAgent','VLOG' ],
              )
kumenius_log.sample(5)

,ServerName,IP,Identity,UserID,DateTime,Request,Status,Size,Referer,UserAgent,VLOG
14466,www.akumenius.com,66.249.76.216,NaN,NaN,23/Feb/2014:12:31:57 +0100,GET /destinosCaracteristicas/hoteles-baratos-e...,200,9723.0,NaN,Mozilla/5.0 (compatible; Googlebot/2.1; +http:...,NaN
65651,localhost,127.0.0.1,NaN,NaN,24/Feb/2014:13:21:30 +0100,OPTIONS * HTTP/1.0,200,NaN,NaN,Apache (internal dummy connection),NaN
95707,www.akumenius.com,80.58.250.92,NaN,NaN,25/Feb/2014:09:27:10 +0100,GET /modules/raton/views/themes/bcoos/images/c...,200,3770.0,http://www.akumenius.com/,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) G...,NaN
43761,www.akumenius.com,180.76.5.17,NaN,NaN,24/Feb/2014:02:09:29 +0100,GET /destinos-baratos/destinosEstrelles/hotele...,200,8783.0,NaN,Mozilla/5.0 (compatible; Baiduspider/2.0; +htt...,NaN
178130,www.akumenius.com,84.77.142.252,NaN,NaN,26/Feb/2014:22:30:54 +0100,GET /includes/images/uploaded/Slideshow/ESC-RE...,200,42972.0,http://www.akumenius.com/,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,NaN

_________